<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ if not .IsHome }}{{ .Title }} | Æ{{ end }}{{ .Site.Title }}</title>
    <link rel="icon" type="image/x-icon" href="/img/svg/favicon.svg">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <header>
      <div id="nav-logo-container">
        <a id="nav-logo-link" href="/">
          <img
            class="changing-svg"
            class="changing-svg"
            id="nav-logo-img"
            src="/img/svg/logo-ae.svg"
            alt="Logo"
          />
        </a>
      </div>
      <div id="nav-main">
        <a class="nav-main-item" href="/blog">
          <img class="changing-svg" src="/img/svg/blog.svg" alt="Blog" />
          <br />
          <p>Blog</p>
        </a>
        <a class="nav-main-item" href="/projects">
          <img class="changing-svg" src="/img/svg/code.svg" alt="Projects" />
          <br />
          <p>Projects</p>
        </a>
        <a class="nav-main-item" href="#">
          <img class="changing-svg" src="/img/svg/cv.svg" alt="CV" />
          <br />
          <p>CV</p>
        </a>
        <a class="nav-main-item" href="/contact">
          <img class="changing-svg" src="/img/svg/contact.svg" alt="Contact" />
          <br />
          <p>Contact</p>
        </a>
      </div>
      <div id="nav-right">
        <a id="nav-right-lang" href="https://es.aetherdocks.xyz">🇪🇸</a>
        <button id="theme-toggle">
          <img
            class="changing-svg"
            src="/img/svg/mode.svg"
            alt="Theme switcher"
          />
        </button>
      </div>
      <br />
    </header>
    <div class="stars-1"></div>
    <div class="stars-2"></div>
  </body>
</html>
