<script>
  const themeToggle = document.getElementById("theme-toggle");
  const svgIcons = document.querySelectorAll(".changing-svg");
  const body = document.body;
  const stars1 = document.querySelector(".stars-1");
  const stars2 = document.querySelector(".stars-2");

  // Check theme preferences
  const storedTheme = localStorage.getItem('theme');
  if (storedTheme) {
    body.classList.add(storedTheme);
    if (storedTheme === 'latte') {
      svgIcons.forEach(icon => {
        const currentSrc = icon.getAttribute('src');
        const newSrc = currentSrc.replace('.svg', '-latte.svg');
        icon.setAttribute('src', newSrc);
      });
      stars1.classList.add('latte');
      stars2.classList.add('latte');
    }
  }
  
  themeToggle.addEventListener("click", () => {
    // Toggle the 'latte' class on the body
    body.classList.toggle("latte");

    // Store the current theme preference in local storage
    const currentTheme = body.classList.contains('latte') ? 'latte' : '';
    localStorage.setItem('theme', currentTheme);

    // Modify SVG sources
    svgIcons.forEach((icon) => {
      const currentSrc = icon.getAttribute("src");
      const isLight = currentSrc.includes("-latte.svg");

      if (isLight) {
        const newSrc = currentSrc.replace("-latte.svg", ".svg");
        icon.setAttribute("src", newSrc);
      } else {
        const newSrc = currentSrc.replace(".svg", "-latte.svg");
        icon.setAttribute("src", newSrc);
      }
    });

    // Toggle the 'latte' class on stars-1 and stars-2
    stars1.classList.toggle("latte");
    stars2.classList.toggle("latte");
  });
</script>