{{ partial "header.html" .Params }}

<main>
<section>

    <div class="contact-container">
        <div class="contact-column contact-column-one">
            <div class="contact-img">
                <img src="/img/contacto.png" alt="QR code">
            </div>
            <div class="contact-about">
                {{ .Content }}
            </div>
        </div>
        <div class="contact-column">
            <div class="contact-column-content">
                <h2>Sobre mí</h2>
                <p>Estoy inmerso en el mundo de la tecnología, me enfoco en el desarrollo de software, al que me esfuerzo por hacer eficiente, simple y elegante.</p>
                <p>Llevo más de media década siendo un aficionado de Linux, soy técnico de Microinformática y Redes, y en breve añadiré Técnico Superior de Desarrollo de Aplicaciones Web a mi CV. Estoy siempre buscando perfeccionar mis habilidades.</p>
                <p>Soy profesional, organizado y práctico solucionando problemas. Me centro en que todo funcione sin problemas y ser alguien en quien otros puedan confiar.</p>
                <p>Sientete libre de contactarme, estoy deseando embarcarme en nuevos proyectos.</p>    
            </div>
        </div>
    </div>    
</section>
</main>
{{ partial "footer.html" }}

{{ partial "script-theme.html" }}