{{ partial "header.html" . }}

<script>NekoType="gray"</script>
<h2 id=nl><script src="https://webneko.net/n20171213.js"></script><a 
href="https://webneko.net">Neko</a></h2>

<main id="notfound-main">
    <section id="notfound-section">
            <h1 style="text-align: center;" >404</h1>
            <p style="text-align: center;">:(</p>
            <p style="text-align: center;"><a href="/en/">Go back to the home page</a></p>    
    </section>
</main>
{{ partial "footer.html" . }}
{{ partial "script-theme.html" . }}