{{ partial "header.html" }}
<main>
<section>
<h1>{{ .Title }}</h1>

{{ .Content }}

<!-- I don't think a partial is needed for this -->

<div class="card-holder">
{{ range.Data.Pages }}
  <a class="card" href="{{ .Permalink }}">
    <div class="card-head">
      <img src="{{ .Params.image }}" alt="Image">
    </div>
    <div class="card-body">
      <div class="card-body-row-one">
        <h3>{{ .Params.Title }}</h3>
      </div>
      <div class="card-body-row-two">
        <ul>
          {{ range .Params.tags }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="card-body-row-three">
        <img class="changing-svg" src="/img/svg/stopwatch.svg" alt="time">
        <p>{{ .Params.read }} mins</p>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2006" }}
        </time>
      </div>
    </div>
  </a>
{{ end }}
</div>

</section>
</main>

{{ partial "footer.html" }}
{{ partial "script-theme.html" }}